{% extends "_layout" %}


{% block content %}
      <section class="content company">
        <div class="width">
        <article>
          
          <header class="distributionMap">
            <h1>{{ entry.textOverMap }}</h1>
          </header>
          <header>
            <h2>{{ entry.introTitle }}</h2>
          </header>
          <div class="pageIntro">
            {{ entry.introText }}
          </div>
          <div>
            {{ entry.expandedText }}
          </div>
        </article>


        <article>
          <header>
            <h2>{{ entry.secondaryTitle }}</h2>
          </header>
          <div>
            {{ entry.secondaryText }}
          </div>
        </article>

        </div>
      </section>



{% endblock %}
