{% extends "_layout" %}

{% block content %}

{% set sutableFans = category.fd_suitableFans %}


	<section class="content productByApplication">
		<div class="width">
			<div class="pageIntro">
				<header>
					<h1>{{ category.title }}</h1>
				</header>
				{{ category.catFd_categoryIntroduction }}
			</div>


			<article class="productCatOverview">
			{% for row in category.fd_st_productGroupGlobalSpecifications %}
				<div>
					<header>
						<h2>{{ row.fd_St_Header }}</h2>
					</header>
					{{ row.fd_st_text }}
					<hr />
				</div>
			{% endfor %}
			</article>



			<article>
				<header>
					<h2>Products suitable for {{ category.title }}</h2>
				</header>
			<ul class="productsGroupList">
			{% for entry in sutableFans %}
				<li>
					<header>
						<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
					</header>
					{% for asset in entry.fd_fanPhoto %}
						<img src="{{ asset.url }}" alt="">
					{% endfor %}
					{{ entry.fd_product_Individual_Short_Summary|hacksaw(words='20', allow='<p>', append='...') }}
					<p class="vfGreenButton"><a href="{{ entry.getUrl }}">Full Specification</a></p>
				</li>
				{% endfor %}
			</ul>
			</article>


			<header>
				<h3>Other Applications</h3>
			</header>
			<ul class="otherApplications">
	          {% for category in craft.categories.group('catGrp_productApplication').id('not ' ~ category.id) %}
	            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
	          {% endfor %}

		</div>
	</section>

{% endblock %}
