{% extends "_layout" %}

{% block content %}

	<section class="content">
		<div class="width">
			<article>
			<div class="pageIntro">
				<header>
					<h1>{{ entry.title }}</h1>
				</header>
				<p>{{ entry.fd_productRangeIntroduction }}</p>				
			</div>



			<ul class="productRange">
			    {% set productOverview = craft.entries.section('productSpecifications').level(1) %}
			    {% for productTopLevel in productOverview %}
	            {# List navigation item if entry does have child entries #}
	            <li>
	                <header>
	                	<h2><a href="{{ productTopLevel.url }}">{{ productTopLevel.title }}</a></h2>
	                </header>
	                <ul>
                    {# Get child entries of current iteration's top-level entry #}
                    {% set productItems = productTopLevel.getChildren() %}

                    {# Loop through those 2nd-level entries #}
                    {% for singleItem in productItems %}
                    {# This is the place where you'd nest the next menu hierarchy !! #}

                    {# List sub-menu navigation item #}
	                    <li>{{ singleItem.title }}<a href="{{ singleItem.getUrl }}">More Detail</a></li>
                    {% endfor %}
	                </ul>
	            </li>
			    {% endfor %}
			</ul>

			<header>
				<h3>View by Application</h3>
			</header>
			<ul class="otherApplications">
				{% for category in craft.categories.group('catGrp_productApplication') %}
				<li><a href="{{ category.url }}">{{ category.title }}</a></li>
				{% endfor %}
			</ul>


			</article>

		</div>
	</section>

{% endblock %}
