{% extends "_layout" %}

{% block pagestyles %}
<link rel="stylesheet" type="text/css" href="/src/css/vendor/lightcase.css">
{% endblock %}

{% block content %}
	<section class="content ancillaries">
		<div class="width">
			<article>
					<header>
						<h1>{{ entry.title }}</h1>
					</header>
					{% for block in entry.ancilliaryItemInformation %}
						{% switch block.type %}
								{% case 'ancilliaryItemText' %}
								<div class="pageIntro">
									{{ block.itemText }}
								</div>
								<div class="supportImages">
								{% case 'itemSupportingPhoto' %}
								{% set asset = block.itemSupportingPhoto.one() %}
								{% if asset %}
										<img src="{{ asset.url }}" alt="{{ entry.title }}">
								{% endif %}
								{% case 'itemTechnicalDrawing' %}
								{% set numberOfDiagrams = block.itemDrawing|length %}
								<div class="diagrams {% if numberOfDiagrams > 1 %}col2{% endif %}">
									{% for asset in block.itemDrawing %}
											<a href="{{ asset.url }}" data-rel="lightcase:diagrams"><img src="{{ asset.url }}" alt="{{ entry.title }}"></a>
									{% endfor %}
								</div>
								{% case 'additionalInformation' %}
								<div style="clear: both;">
									{% for row in block.addAdditionalInfo %}
									<header>
										<h2>{{ row.header }}</h2>
									</header>
									<p>{{ row.text }}</p>
								</div>
								{% endfor %}
								{% case 'itemDataTable' %}
								{% set numberOfTables = entry.fd_st_dataTables|length %}
							<div class="dataTables {% if numberOfTables > 1 %}col2{% endif %}">
										{{ block.dataTable.table }}
								</div>
						{% endswitch %}
					{% endfor %}

					{% if entry.dataSheetOption | length %}
					<p class="vfGreenButton"><a target="_blank" href="/data_sheet?entryId={{ entry.id }}">Download Data Sheet</a></p>
					{% endif %}
					


				{% set parent = craft.entries.ancestorOf(entry).level(1).one() %}
				<p class="back"><a href="{{ parent.url }}">Return to {{parent.title}} Overview</a></p>

			</article>




		</div>
	</section>

{% endblock %}

{% block pageScripts %}
	<script type="text/javascript" src="/src/js/vendor/lightcase.js"></script>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('a[data-rel^=lightcase]').lightcase();
	});
</script>
{% endblock %}
