{% extends "_layout" %}

{% block pagestyles %}
<link rel="stylesheet" type="text/css" href="/src/css/vendor/lightcase.css">
{% endblock %}

{% block content %}

	<section class="content productSingleSpec">
		<div class="width">
			<article>
					<header>
						<h1>{{ entry.title }}</h1>
					</header>
					{% if entry.fd_product_Individual_Short_Summary|length %}
						<div class="pageIntro">
						{% if entry.fd_fanPhoto|length %}
							<img src="{{ entry.fd_fanPhoto.one().getUrl() }}" alt="{{ entry.title }}">
							<div>
								{{ entry.fd_product_Individual_Short_Summary }}
							</div>
							{% else %}
							{{ entry.fd_product_Individual_Short_Summary }}
						{% endif %}
						</div>
					{% endif %}

					{% if entry.fd_costruction|length %}
					<div class="productTextSpecs">
						{% if entry.fd_positioning|length %}
						<div>
							<header>
								<h2>Positioning</h2>
							</header>
							<p class="positioning">{{ entry.fd_positioning }}</p>
						</div>
						{% endif %}

						{% if entry.fd_costruction|length %}
						<div>
							<header>
								<h2>Construction</h2>
							</header>
							<ul class="construction">
							{% for row in entry.fd_costruction %}
								<li><strong>{{ row.fd_st_component_name }}:</strong> {{ row.fd_st_componentText }}</li>
							{% endfor %}
							</ul>
						</div>
						{% endif %}
					</div>
					{% endif %}


					<div class="supportImages">
						{% set numberOfDiagrams = entry.fd_fanTechDrawing|length %}
						<div class="diagrams {% if numberOfDiagrams > 1 %}col2{% endif %}">
							{% for asset in entry.fd_fanTechDrawing %}
									<a href="{{ asset.url }}" data-rel="lightcase:diagrams"><img src="{{ asset.url('diagramThumb') }}" alt="{{ entry.title }}"></a>
							{% endfor %}
						</div>
					</div>

					{% if entry.fd_st_dataTables|length %}
					{% set numberOfTables = entry.fd_st_dataTables|length %}
					<div class="dataTables {% if numberOfTables > 1 %}col2{% endif %}">
						{% for row in entry.fd_st_dataTables %}
							{{ row.dataTable.table }}
						{% endfor %}
					</div>
					{% endif %}


				{% for row in entry.fd_st_specialNotes %}
					<p class="specialNote"><strong>Note:</strong>{{ row.fd_st_noteText }}</p>
				{% endfor %}

				{% if entry.dataSheetOption | length %}
				<p class="vfGreenButton"><a target="_blank" href="/data_sheet?entryId={{ entry.id }}">Download Data Sheet</a></p>
				{% endif %}

				{% set parent = craft.entries.ancestorOf(entry).level(1).one() %}
				<p class="back"><a href="{{ parent.url }}">Return to {{parent.title}} Overview</a></p>

			</article>




		</div>
	</section>

{% endblock %}

{% block pageScripts %}
	<script type="text/javascript" src="/src/js/vendor/lightcase.js"></script>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('a[data-rel^=lightcase]').lightcase();
	});
</script>
{% endblock %}
