columnSuffix: null
handle: header
instructions: null
name: 'Ancilliary Item Information - Additional Information - Add Additional Info - Header'
searchable: true
settings:
  byteLimit: null
  charLimit: null
  code: false
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
