{% extends "_layout" %}


{% block content %}

      <section class="hero">
        <div class="width">
          <ul class="catList">
          {% for category in craft.categories.group('catGrp_productApplication') %}
            <li><a href="{{ category.url }}">{{ category.title }}</a></li>
          {% endfor %}
          </ul>
          <div class="messages" style="background-image: url({% for asset in entry.fd_heroImage %}{{ asset.url }}{% endfor %});">Messages</div>
        </div>
      </section>
      <section class="content home">
        <div class="width">
          <header>
            <h1>Our Industrial Fan Range</h1>
          </header>

          <ul class="productCats">
            {% set productOverview = craft.entries.section('productSpecifications').level(1) %}
            {% for productTopLevel in productOverview %}
            {# List navigation item if entry does have child entries #}
            <li>
              <header>
                <h2><a href="{{ productTopLevel.url }}">{{ productTopLevel.title }}</a></h2>
              </header>
              {% for asset in productTopLevel.fd_productGroupPhoto %}
              <a href="{{ productTopLevel.url }}"><img src="{{ asset.url }}" alt=""></a>
              {% endfor %}
              <div class="groupSummary">{{ productTopLevel.fd_product_global_ShortIntroduction }}</div>

              <ul class="productsInGroup">
              {# Get child entries of current iteration's top-level entry #}
              {% set productItems = productTopLevel.getChildren() %}

              {# Loop through those 2nd-level entries #}
              {% for singleItem in productItems %}
              {# This is the place where you'd nest the next menu hierarchy !! #}

              {# List sub-menu navigation item #}
                <li><a href="{{ singleItem.getUrl }}">{{ singleItem.title }}</a></li>
              {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

{% endblock %}
