{% extends "_layout" %}

{% block content %}
	<section class="content">
		<div class="width">
			<div class="pageIntro">
				<header>
					<h1>{{ entry.title }}</h1>
				</header>
				{{ entry.fd_product_global_ShortIntroduction }}
			</div>
			<article class="productCatOverview">
				<div class="supportImages">
					{% set asset = entry.fd_fanPhoto.first() %}
					{% if asset %}
							<img src="{{ asset.url }}" alt="{{ entry.title }}">
					{% endif %}
				</div>
			{% for row in entry.fd_st_productGroupGlobalSpecifications %}
				<div>
					<header>
						<h2>{{ row.fd_St_Header }}</h2>
					</header>
					{{ row.fd_st_text }}
					<hr />
				</div>
			{% endfor %}

			{% if entry.fd_st_dataTables|length %}
			{% set numberOfTables = entry.fd_st_dataTables|length %}
			<div class="dataTables {% if numberOfTables > 1 %}col2{% endif %}">
				{% for row in entry.fd_st_dataTables %}
					{{ row.dataTable.table }}
				{% endfor %}
			</div>
			{% endif %}
			</article>
			<div class="productSelection">
				<input id="toggle" type="checkbox"><label for="toggle">Other Types of Fan Available</label>
				<ul class="productsInGroup slider">
	            	{% set productOverview = craft.entries.section('productSpecifications').level(1) %}
	            	{% for productTopLevel in productOverview %}
					<li><a href="{{ productTopLevel.getUrl }}">{{ productTopLevel.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% set productItems = entry.getChildren() %}

			<ul class="productsGroupList">
			{% for entry in productItems %}
				<li>
					<header>
						<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
					</header>
					{% for asset in entry.fd_fanPhoto %}
						<img src="{{ asset.url }}" alt="">
					{% endfor %}

					{% for block in entry.ancilliaryItemInformation.type('ancilliaryItemText').limit(1) %}
						{{ block.itemText|hacksaw(words='20', allow='<p>', append='...') }}
					{% endfor %}

					{{ entry.fd_product_Individual_Short_Summary|hacksaw(words='20', allow='<p>', append='...') }}

					<p class="vfGreenButton"><a href="{{ entry.getUrl }}">Full Spec</a></p>
				</li>
				{% endfor %}
			</ul>

			{% for asset in entry.fd_fanTechDrawing %}
					<img src="{{ asset.url }}" alt="{{ entry.title }}" style="min-width: 100%; margin-bottom: 30px;">
			{% endfor %}



		</div>
	</section>

{% endblock %}
