.content p {
	font-size: 16px;
}

.pageIntro p {
	font-size: 22px;
}

.productCats {
	> li {
		padding: 10px;
		h2 {
			font-size: 16px;
		}
		p {
			font-size: 14px;
		}
	}

}




.productsGroupList {
	@include clearfix();
	> li {
		img {
			@include column(8/24);
			padding: 5px;
		}
		h2 {
			//font-size: 17px;
			padding: 7px 10px;
		}
		p {
			font-size: 14px;
			line-height: 1.3;
		}
	}
}


.distributionMap {
	height: 490px;
}


.specialCases {
  ul {
    margin-bottom: 30px;
    li {
      @include column(4/24, $cycle: 6, $gutter: 5);
      margin-bottom: 20px;
    }
  }
}