

.brand {
	width: 300px;
	height: 40px;
}

.brand a:after {
	top: -20px;
	right: -45px;
	width: 40px;
	height: 40px;
}


.content {
	margin: 20px 0;
	padding: 30px 0;
	text-align: center;
	h1 { font-size: 20px; }
	h2 { font-size: 16px; }
	h3 { font-size: 16px; }
	// p { font-size: 12px; }
}


.header .vcard {
	font-size: 20px;
}

.quality {
	font-size: 22px;
	padding: 25px 0;
	p {
		margin-right: 170px;
	}
	p+p {
		width: 130px;
		height: 60px;
		top: 5px;
	}
}




.hero {
	height: 250px;
	.catList {
		margin-top: 4px;
		//margin: 0;
		@include span(8/24);
		//margin-top: 5%;
		li {
			a {
				font-size: 16px;
				padding: 12px 0;
				background-position: 95% 50%;
			}
		}
	}
}

.messages {
	display: block;
	@include span(16/24);
	border-left: 1px solid #fff;
	height: 250px;
	background-size: cover;
	background-position: center;
}


.content {
	text-align: left;
	padding: 50px 0 20px 0;
	@include clearfix();
}




.productCats {
	column-count: 2;
	column-gap: 30px;
	margin: 0;
	> li {
		padding: 10px;
		margin-bottom: 30px;
		display: inline-block;
		break-inside: avoid;
		page-break-inside: avoid;
		width: 100%;
		h2 {
			font-size: 14px;
			a {
				padding: 7px 10px;
			}
		}
		p {
			padding: 0 10px;
		}
	}
}


.supportImages {
	margin-bottom: 30px;
	@include clearfix();
  >img {
    @include column(12/24);
  }
}

.diagrams {
  @include column(12/24);
}

.diagrams.col2 {
	@include clearfix();
	a {
		@include column(12/24);
    margin-bottom: 0;
	}
}


.productGroupList {
	> li {
		@include column(12/24, $cycle: 2);
		img {
			@include column(8/24, $cycle: 3);
		}
		img+p {
			@include column(16/24, $cycle: 3);
		}
		p.application {
			strong {
				display: inline;
			}
		}
	}
}


ul.productsInGroup {
	li {
		a {
			padding: 5px 10px;
		}
	}
}



.productsGroupList {
	@include clearfix();
	> li {
		@include column(12/24, $cycle: 2);
		padding: 10px;
		margin-bottom: 30px;
		img {
			@include column(6/24);
			padding: 5px;
		}
		h2 {
			//font-size: 17px;
			padding: 7px 10px;
		}
		p {
			font-size: 12px;
			line-height: 1.3;
		}
	}
}




#toggle + label {
	padding: 8px 15px;
    font-size: 14px;
    //text-align: left;
}

/* most important part is here: */
#toggle:checked ~ .slider {
    //height: 245px;
}




footer {
	padding: 50px 0;
	text-align: left;
	@include clearfix();
	div.width > div {
		margin-bottom: 0;
		@include column(8/24, $cycle: 3);
	}
	h2 {
		font-size: 16px;
		margin-bottom: 10px;
		padding-bottom: 5px;
	}
	p {
		font-size: 14px;
		margin-bottom: 3px;
	}
	ul li {
		font-size: 14px;
		padding: 3px 0;
		a {
			color: $vfGreen;
		}
	}
}

.colophon {
	font-size: 12px;
}



.pageIntro {
	margin-bottom: 40px;
	  img {
	    @include column(6/24, $cycle: 2);
	  }
	  > div {
	    @include column(18/24, $cycle: 2);
	  }
	p {
		font-size: 18px;
	}
}



.productCatOverview {
	column-count: 2;
	column-gap: 30px;
	clear: both;
	> div {
		display: inline-block;
		break-inside: avoid;
		page-break-inside: avoid;
		width: 100%;
		margin-bottom: 20px;
	}
	hr {
		display: none;
	}
}


p.vfGreenButton {
	@include column(12/24, $offset: 12/24)
	text-align: center;
}






.specialNote {
	clear: both;
}



.company.content {
	padding-bottom: 40px;
	h2 {
		font-size: 20px;
		margin-bottom: 30px;
	}
}

.distributionMap {
	height: 370px;
	margin-bottom: 30px;
	text-align: center;
	h1 {
		font-size: 30px;
	}
}


.company .pageIntro+div {
	column-count: 2;
	column-gap: 50px;
}


.company article:nth-of-type(2) > div {
	column-count: 2;
	column-gap: 50px;
}


.specialCases {
  ul {
    margin-bottom: 30px;
    li {
      @include column(6/24, $cycle: 4, $gutter: 5);
      margin-bottom: 20px;
    }
  }
}
