body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: #fff !important; }

@page {
  margin: 2cm; }

@page {
  size: A4; }

table, figure {
  page-break-inside: avoid; }

img.brand {
  width: 250px;
  margin-bottom: 60px; }

h1, h2, h3, h4, h5 {
  page-break-after: avoid; }

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color: #274b92;
  text-transform: uppercase;
  margin-bottom: 5px; }

h1 {
  font-size: 20px;
  margin: 0; }

h2 {
  font-size: 14px; }

p {
  color: #999;
  font-size: 11px;
  line-height: 1.4; }

.intro p {
  color: #65bccb;
  line-height: 1.5;
  font-size: 16px; }

div.test {
  -webkit-column-count: 4;
  -webkit-column-gap: 0.25in;
  -webkit-column-rule-width: 1px;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-color: #eee; }

table {
  border-spacing: 0;
  border-collapse: collapse; }
  table tr {
    border-bottom: 1px solid #8da1c5; }
    table tr:last-of-type {
      border: none; }
  table th, table td {
    background-color: #b9c5dc;
    color: #fff; }
  table th {
    border: 1px solid #a1b1d0;
    border-width: 0 1px 1px 0;
    background-color: #647fb1; }
  table td {
    border-right: 1px solid #8da1c5;
    color: #4c6696; }
  table td:last-of-type {
    border-right: none; }
